"*":
  "atom-beautify":
    general:
      _analyticsUserId: "ce4963c0-bcad-44f2-a016-1597ecc14845"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "wrap-guide"
      "sort-lines"
      "linter-htmlhint"
      "linter-jshint"
      "linter-csslint"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.pyc"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
  "exception-reporting":
    userId: "406e0d5e-7da1-48a6-bcfb-3e6b9a035ac8"
  "linter-flake8":
    maxLineLength: 250
  "linter-ui-default":
    showPanel: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
