"*":
  "atom-package-deps":
    ignored: [
      "highlight-selected"
    ]
  "autocomplete-python":
    extraPaths: "/home/data/containers/mp/app-vol/env/lib/python2.7; /home/data/containers/mp/app-vol/env/lib/python2.7/site-packages; /home/data/containers/mp/app-vol/root"
    pythonPaths: "/home/data/containers/mp/app-vol/env/bin/python"
    useKite: false
    useSnippets: "required"
  core:
    disabledPackages: [
      "spell-check"
      "wrap-guide"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.pyc"
      "env"
      "var"
      "db-vol"
      "mongo-vol"
      "js-vol"
      "*.tags"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 18
    lineHeight: 1.2
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "fc3a953e-ea7c-4441-b566-14939c978173"
  "highlight-selected":
    onlyHighlightWholeWords: false
    showResultsOnScrollBar: true
  "linter-flake8":
    ignoreErrorCodes: [
      "F821"
    ]
    maxLineLength: 250
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
